frontend/.next
frontend/node_modules
server/dist
server/node_modules
server/prisma/dev.db
server/prisma/dev.db-journal
coverage
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
